@import 'tailwindcss';

body{
  overflow-x: hidden;
}

.slick-dots li button:before{
  font-size: 10px !important;

}

.slick-dots li.slick-active button:before{
  color: rgb(0, 153, 255) !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-out forwards;
}


@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(3px);
  }
  30% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(3px);
  }
  70% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
  90% {
    transform: translateX(-3px);
  }
}

.hover\:animate-shake:hover {
  animation: shake 0.5s ease-in-out;
}


@keyframes blink{
  0%,100%{
    background-color: #e5e7eb;
  }
  50%{
    background-color: #bfdbfe;
  }
}

@keyframes text-blink{
  0%,100%{
    color: red;
  }
  50%{
    color: blue;
  }
}

.animate-text-blink{
  animation: text-blink step-end 1s infinite;
}

@theme {
  --shadow-3xl: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}